<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>thegreenmall.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>44</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
				<key>dateExpires</key>
				<string>04/07/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>country_codes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>devicelocale.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_localization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>in_app_purchase_storekit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>local_auth_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>pay_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>syncfusion_flutter_pdfviewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47B301E8C765133CA6274034B2D606B027328FD6</string>
						<key>dateExpires</key>
						<string>04/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6F246JUX8A</string>
						<key>name</key>
						<string>HI Systems LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6F246JUX8A.com.thegreenmall</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.thegreenmall</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>6F246JUX8A</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>33304517-6c19-48fe-85eb-ff4623536d8e</string>
				<key>dateExpires</key>
				<string>23/07/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.thegreenmall</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6F246JUX8A</string>
				<key>name</key>
				<string>HI Systems LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
